
footer{
    background: #90D4C5;
    padding: 2.3rem 0;
}
.footer-logo-container{
   padding: 2.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo{

fill: #2F7565;
}


.footer-nav  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3.4rem;

    font-size: 18px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: hsl(168, 34%, 41%);
    padding-bottom: 4.5rem;
}
    
.footer--socail-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.7rem;
    padding-bottom:3rem ;
}

.footer--socail-links img{
    width: 1.2rem;
    height: 1.2rem;
}

.attribution{
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    font-weight: 600; 
    color: hsl(168, 34%, 41%);
}

.attribution a{
    color: black;
}